.header {
    background-color: #1F0C6C; /* Purple color */
    color: white; /* White text color */
    padding: 10px; /* Padding for better spacing */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;
  }

  .body-container
  {
    background-color: #A59031;
    
  }

  .logo
  {
      height: 100px;
      width: 100px;
  }
  
  .nav-items > ul
  {
      display: flex;
  }
  
  .nav-items > ul > li
  {
      padding: 10px;
      margin: 10px;
      list-style-type: none;
  }

  .team-page-heading 
  {
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }

  

/* Change background color on hover */
.search:hover {
    background-color: grey; /* Slightly darker purple */
}
  